<!-- voter_analytics/templates/voter_analytics/base.html -->
<!--
Author: Victoria Mulugeta (vmulu@bu.edu), 10/31/2025
Description: Base HTML template providing the common structure for all other pages.
 -->

{% load static %}
<html>
    <head>
        <title> Voter Analytics </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Voter Analytics</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'voters' %}">Home</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{% url 'voters_list' %}">List of Voters</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{% url 'voter_graphs'%}"> Graphs </a>
                    </li>
                </ul>
            </nav>
        </header>

    {% block content %}
    {% endblock %}

    </body>
</html>
