{% extends 'hw/base.html' %}
    {% block content %}

    <h1>About this page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo doloribus est excepturi dolorem saepe beatae itaque optio, tenetur recusandae iure obcaecati amet aliquid inventore repellendus similique mollitia cum libero quidem.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure qui repellendus perspiciatis veritatis laudantium, fuga sit obcaecati repudiandae accusamus. Praesentium, architecto ipsam. Necessitatibus consequatur, quos quasi atque velit temporibus eos?
    </p>

{% endblock %}