<!--
project/templates/project/create_activity_form.html
Victoria Mulugeta vmulu@bu.edu
Creating a activity form
 -->

{% extends 'project/base.html' %}

{% block content %}

<h1>
    Add a activity for {{ destination.name }}!
</h1>

<form action="{% url 'create_activity' destination.pk %}" method=POST enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        {{form.as_table}}
    </table>

    <input type="submit" name="submit" value="submit">
    <input type="reset" name="cancel" value="reset">

    <a href="{% url 'destination' destination.pk %}" class="button">Cancel</a>

</form>

{% endblock %}