<!--
project/templates/project/destination.html
Victoria Mulugeta vmulu@bu.edu
Destination page shows a singular destination information
 -->

{% extends 'project/base.html' %}

{% block content %}

<div>

    <!-- trip name-->
    <div class="card">
        <h2>
            Destination {{destination.order}} for {{destination.trip.name}}
        </h2>
    </div>

    <!-- destination info -->
    <div class="card trip-card">
        <h2>
            {{destination.name}}
        </h2>
        <h3>
            {{destination.arrival_date}} to {{destination.departure_date}}
        </h3>
        <p>
            {{destination.notes}}
        </p>
    </div>

    <!-- activity info -->
    <div class="card trip-card">
        <h2>
            Activities
        </h2>
        <div>
            {% for act in destination.get_all_activities %}
                <h2>
                    {{act.name}}
                </h2>
                <h3>
                    Starts at {{act.time}}
                </h3>
                <p>
                    {{act.notes}}
                </p>
            {% endfor %}
            <a href="{% url 'create_activity' destination.pk %}"> Add an activity</a>
        </div>
    </div>


</div>

{% endblock %}