<!-- File: restaurant/templates/restaurant/confirmation_page.html
    Author: Victoria Mulugeta (vmulu@bu.edu), 9/16/2025
    Description: Main page of the website -->

{% extends 'restaurant/base.html' %}
    {% block content %}

    <h1>
        Confirmation
    </h1>

    <p>
        Thank you for your order!
    </p>

    <!-- confirmation -->
    <div>
        <h2>
            Your order is confirmed:
        </h2>
        <ul>
            {% for item in food %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- customer information -->
    <div>
        <h2>
            Customer Information:
        </h2>
        <p>
            {{name}}
            <br>
            {{number}}
            <br>
            {{email}}
        </p>

    </div>

{% endblock %}