{% load static %}

<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <head>
            <h1>
                My Blog
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'random'%}"> Random </a>
                    </li>
                    <li>
                        <a href="{% url 'show_all'%}"> Show All </a>
                    </li>
                    <li>
                        <a href="{% url 'create_article' %}"> Create Article</a>
                    </li>
                </ul>
            </nav>
        </head>

        {% block content %}
        {% endblock %}
    </body>
</html>