{% load static %}

<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <head>
            <h1>
                My Blog
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'random'%}"> Random </a>
                    </li>
                    <li>
                        <a href="{% url 'show_all'%}"> Show All </a>
                    </li>
                    <!-- only for users who are logged in -->
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'create_article' %}"> Create Article</a>
                        </li>
                        <!-- had to do form bc of django update -->
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <li><input type="submit" value="Logout"></li>
                        </form>
                    {% else %}
                        <li><a href="{% url 'login' %}">Log in</a></li>
                    {% endif %}
                </ul>
                <hr>
                <!-- checking if user is logged in -->
                {% if request.user.is_authenticated %}
                    Logged in user: {{ request.user }}.
                {% else %}
                    Not logged in.
                {% endif %}
            </nav>
        </head>

        {% block content %}
        {% endblock %}
    </body>
</html>