<!-- File: templates/quotes/base.html
    Author: Victoria Mulugeta (vmulu@bu.edu), 9/9/2025
    Description: Opening page that describes what the website is presenting -->

{% extends 'quotes/base.html' %}
    {% block content %}

    <h1>Welcome Lebron Lovers</h1>
    <p>
        Welcome to the Quote of the Day application dedicated to the one and only Lebron James!
    </p>
    <p>
        Lebron James is one of the best NBA players of our generation. He is a four-time NBA Champion. 
        He has also been a prominent cultural figure and advocate on social issues, influencing sports,
        media, and business.
    </p>

{% endblock %}