{% load static %}

<html>
    <head>
        <title> MiniInsta </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <head>
            <h1>
                MiniInsta
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'show_all_profiles'%}"> All Profiles </a>
                    </li>
                </ul>
            </nav>
        </head>

        {% block content %}
        {% endblock %}
    </body>

    <footer>
        Page created by vmulu@bu.edu
    </footer>
</html>