{% load static %}

<html>
    <head>
        <title> MiniInsta </title>
        <link rel="stylesheet" href="{% static 'mini_insta-styles.css' %}">
    </head>

    <body>
        <head>
            <!-- <h1>
                My Blog
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'random'%}"> Random </a>
                    </li>
                    <li>
                        <a href="{% url 'show_all'%}"> Show All </a>
                    </li>
                </ul>
            </nav> -->
        </head>

        {% block content %}
        {% endblock %}
    </body>
</html>