<!-- mini_insta/templates/mini_insta/delete_post_form.html -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<h3>Are you sure you want to delete this post?</h3>

<div class="post_page">
    {% for photo in post.get_all_photos %}
        <table>
            <li>
                <img src="{{ photo.get_image_url }}" alt="Photo for {{ post.profile }}">
            </li>
        </table>
    {% endfor %}

    {{ post.caption }}
</div>

<form method='POST'>
    {% csrf_token %}
    <input type='submit' value="Delete">
</form>
<form action="{% url 'profile' profile.pk %}" method="GET">
    <input type='submit' value="Cancel">
</form>

{% endblock %}