<!-- mini_insta/templates/mini_insta/search.html -->
<!--
    File: mini_insta/templates/mini_insta/search.html
    Author: Victoria Mulugeta (vmulu@bu.edu), 9/23/2025
    Description: Search form page allowing users to input queries for profiles or posts.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    <h1>
      Search
    </h1>
    <div>
        <form method="GET">
            <p>
                Search for users or posts: <input type="text" name="query">
                <button type="submit">Search</button>
            </p>
        </form>

    </div>

{% endblock %}