<!-- mini_insta/templates/mini_insta/show_post.html -->
 <!-- 
    File: mini_insta/templates/mini_insta/show_post.html
    Author: Victoria Mulugeta (vmulu@bu.edu), 9/23/2025
    Description: Displays an individual post, including likes and comments.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

<div class="post_page">
    {% for photo in post.get_all_photos %}
        <table>
            <li>
                <img src="{{ photo.get_image_url }}" alt="Photo for {{ post.profile }}">
            </li>
        </table>
    {% endfor %}

    <p>
        {{ post.caption }}
    </p>
    <p>
        posted at {{ post.timestamp }}
    </p>
    </div>
    {% if current_profile != post.profile %}
        {% if is_liked %}
            <form action="{% url 'delete_like' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Unlike">
            </form>
        {% else %}
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Like">
            </form>
        {% endif %}
    {% endif %}

    <div>
    <div>
        <p>
            {{post.get_all_comments.count}} Comments:
        </p>
        {% for comment in post.get_all_comments %}
            <div>
                <strong>{{comment.profile.username}}</strong>
                <p>
                    {{comment.text}}
                </p>
            </div>
        {% endfor %}
        <p>
            {{post.get_likes.count}} Likes:
        </p>
        {% for like in post.get_likes %}
        <div>
            <strong>{{like.profile.username}}</strong>
        </div>
    {% endfor %}
    </div>
    {% if request.user == post.profile.user %}
        <div>
            <a href="{% url 'delete_post' post.pk %}"> Delete Post</a>
        </div>
        <div>
            <a href="{% url 'update_post' post.pk %}"> Update Post</a>
        </div>
    {% endif%}

</div>

{% endblock %}