<!-- mini_insta/templates/mini_insta/show_followers.html -->
 <!-- 
    File: mini_insta/templates/mini_insta/show_followers.html
    Author: Victoria Mulugeta (vmulu@bu.edu), 9/23/2025
    Description: Displays all followers of a given profile.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    <h1>
        Followers
    </h1>
    <div>
        {% for follower in profile.get_followers %}
            <a href="{% url 'profile' follower.pk %}">{{follower.username}}</a>
        {% endfor %}
    </div>

{% endblock %}