<!-- mini_insta/templates/mini_insta/show_profile.html -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<div class="profile-container">

    <div>
        <h2>
            {{profile.username}}
        </h2>
        <h3>
            {{profile.display_name}}
        </h3>
        <img src="{{profile.profile_image_url}}" alt="">
        <p>
            Joined <strong>MiniInsta</strong> on {{profile.join_date}}
        </p>
        <p>
            {{profile.bio_text}}
        </p>
    </div>
    <div>
        <div>
            <a href="{% url 'followers' profile.pk %}"><strong>Followers:</strong></a> {{profile.get_num_followers}}
            <a href="{% url 'following' profile.pk %}"><strong>Following:</strong></a> {{profile.get_num_following}}
        </div>
    </div>
    <hr>

    <div class="posts">
        <!-- for all the post associated with this profile get this fist photo-->
        {% for post in profile.get_all_posts %}
        <div class="post">
            {% with post.get_all_photos.first as photo %}
                {% if photo %}
                    <a href="{% url 'post' post.pk %}"> <img src="{{ photo.get_image_url }}" alt="Photo for {{ post.profile }}"> </a>
                {% else %}
                    <a href="{% url 'post' post.pk %}"> <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="No image available"> </a>
                {% endif %}
            {% endwith %}
        </div>
        {% endfor %}
    </div>

    <div>
        <!-- updating profile -->
        <p>
            <a href="{% url 'update_profile' profile.pk %}">Update this profile</a>
        </p>
    </div>

</div>

{% endblock %}