<!-- mini_insta/templates/mini_insta/update_profile_form.html -->
 <!-- 
    File: mini_insta/templates/mini_insta/update_profile_form.html
    Author: Victoria Mulugeta (vmulu@bu.edu), 9/23/2025
    Description: Template for updating profile information such as bio, display name, and profile image.
-->


{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>
    Update Profile
</h1>
<form action="{% url 'update_profile'%}"  method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}

        <table>
            {{form.as_table}}
        </table>
        <input type='submit' name = 'update_profile' value= 'Update Profile!'>

</form>
<form action="{% url 'profile' profile.pk %}" method="GET">
    <input type="submit" value="cancel">
</form>


{% endblock %}