<!-- mini_insta/templates/mini_insta/update_post_form.html -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<h4>
    Update Post
</h4>
<form action="{% url 'update_post' post.pk %}"  method = 'POST'>
    {% csrf_token %}

        <table>
            {{form.as_table}}
        </table>
        <input type='submit' name = 'update_post' value= 'Update Post!'>

</form>
<form action="{% url 'profile' post.profile.pk %}" method="GET">
    <input type="submit" value="cancel">
</form>


{% endblock %}